/*red #E42229*/
/*black #0A0608*/
/*white #FFFFFF*/
/*yellow #DABF4A*/
/*dark brown #22150D*/
/*brown #4A351E*/
:root {
    --shabu-red: #E42229;
    --shabu-white: #FFFFFF;
    --shabu-yellow: #DABF4A;
    --shabu-black: #0A0608;
    --shabu-darkbrown: #22150D;
    --shabu-brown: #4A351E;
    --shabu-big-font: 'Imagination Station', sans-serif;
    --shabu-standard-font: 'Open Sans', sans-serif;;

}

:root {
    --bulma-primary-h: 358deg;
    --bulma-primary-s: 78%;
    --bulma-primary-l: 51%;
    --bulma-link-h: 49deg;
    --bulma-link-s: 66%;
    --bulma-link-l: 57%;
    --bulma-info-h: 330deg;
    --bulma-info-s: 25%;
    --bulma-info-l: 3%;
    --bulma-success-h: 23deg;
    --bulma-success-s: 45%;
    --bulma-success-l: 9%;
    --bulma-warning-h: 31deg;
    --bulma-warning-s: 42%;
    --bulma-warning-l: 20%;
    --bulma-danger-h: 0deg;
    --bulma-danger-s: 0%;
    --bulma-danger-l: 100%;
}

body {
    /*background-color: var(--shabu-black);*/
}

h1 {
    font-size: 3rem;
    color: var(--shabu-red);
}

.shabu-title { /*ONLY H1*/
    font-size: 5rem;
    color: var(--shabu-yellow);
    font-family: var(--shabu-big-font);
}

p {
    font-size: 1.5rem;
    font-family: var(--shabu-standard-font);
    padding: 5px 0;
}

nav {
    background-color: var(--shabu-white);
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

nav img {
    width: 10vw;
}

nav a {
    padding: 0 15px;
    text-decoration: none;
    color: var(--shabu-black);

    transition: all 0.5s ease;
}

nav a:hover {
    border-bottom: 2px solid var(--shabu-red);
}

header {
    min-height: calc(90vh - 80px);
    /*background-image: url('../images/ShabuShabu-Flower-Image.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: var(--shabu-white);
}

.header-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.half-header {
    flex: 1;
}

header a {
    flex: 1;
    transition: all 1s ease;
    background-color: var(--shabu-red);
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px var(--shabu-black);
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-weight: bold;
    max-width: 300px;
    margin: 0px 150px;
}
